<div class="col-md-6 offset-md-3">
  <h3 class="text-center">Registro de Studiantes</h3>
  <form (ngSubmit)="onSubmit()" #forma="ngForm">
    <div class="form-group">
      <div class="text-center">
        <img src="../../../../assets/icons/student.png" height="300" width="300">
      </div>
      <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Nombre</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="name"
            [(ngModel)]="student.name"
            name="name"
            required
            placeholder="Escriba su nombre"
            #name="ngModel"
          />
          <div class="alert alert-danger" *ngIf="name.invalid && (name.dirty || name.touched )">
            <div *ngIf="name.errors['required']">
              Digite su nombre por favor
            </div>
          </div>
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Apellido</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="lastName"
            [(ngModel)]="student.lastName"
            name="lastName"
            required
            placeholder="Escriba su apellido"
            #lastName="ngModel"
          />
          <div class="alert alert-danger" *ngIf="lastName.invalid && (lastName.dirty || lastName.touched )">
            <div *ngIf="lastName.errors['required']">
              Digite su Apellido por favor
            </div>
          </div>
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Telefono</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="phone"
            [(ngModel)]="student.phone"
            name="phone"
            required
            placeholder="XXX XXX XX XX"
            pattern="[0-9]{10}"
            #phone="ngModel"
          />
          <div class="alert alert-danger" *ngIf="phone.invalid && (phone.dirty || phone.touched )">
            <div *ngIf="phone.errors['required']">
              Digite su telefono por favor
            </div>
            <div *ngIf="phone.errors['pattern']">
              Introduzca un telefono de 10 digitos con el formato correcto. EJE: 3212318951
            </div>
          </div>
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Correo</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="email"
            [(ngModel)]="student.email"
            name="email"
            required
            placeholder="example@gmail.com"
            pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$"
            #email="ngModel"
          />
          <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched )">
            <div *ngIf="email.errors['required']">
              Digite su Correo por favor
            </div>
            <div *ngIf="email.errors['pattern']">
              Introduzca un correo con el formato correcto. EJE: ejemplo@gmail.com
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button [disabled]="forma.invalid" class="btn btn-success">Guardar</button>
    </div>
  </form>
</div>